<div class="container" [ngStyle]="{ display: display ? 'block' : 'none' }">
  <div class="content">
    <div class="dialog-header">
      <span class="dialog-header-title">{{ title }}</span>
      <span
        (click)="close($event)"
        class="close-btn"
        nz-icon
        nzType="close"
        nzTheme="outline"
      ></span>
    </div>
    <div
      class="dialog-body"
      #content
      [ngStyle]="{ width: width, height: height }"
    >
      <ng-content></ng-content>
    </div>
  </div>
</div>

<!-- ng-zorro 编译为web component 。弹窗插槽失效 -->
<!-- <nz-modal
  [(nzVisible)]="display"
  nzTitle="The first Modal"
  (nzOnCancel)="hiden()"
  (nzOnOk)="hiden()"
  #model
>
  <ng-container *nzModalContent>
    <p>Content one</p>
    <p>Content two</p>
    <p>Content three</p>
    <ng-content></ng-content>
  </ng-container>
</nz-modal> -->
