<nz-table
  #dynamicTable
  [nzScroll]="{ x: scrollX, y: scrollY }"
  [nzData]="listOfData"
  [nzTableLayout]="tableLayout"
  [nzBordered]="bordered"
  [nzSimple]="simple"
  [nzLoading]="loading"
  [nzPaginationPosition]="position"
  [nzShowSizeChanger]="sizeChanger"
  [nzFrontPagination]="pagination"
  [nzShowPagination]="pagination"
  [nzFooter]="footer ? footerValue : null"
  [nzTitle]="title ? titleValue : null"
  [nzSize]="size"
>
  <thead>
    <tr *ngIf="header">
      <th nzWidth="40px" *ngIf="expandable" [nzLeft]="fixedColumn"></th>
      <th
        *ngIf="checkbox"
        nzWidth="60px"
        [(nzChecked)]="checked"
        [nzLeft]="fixedColumn"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="checkAll($event)"
      ></th>
      <th
        *ngFor="let item of headers"
        [nzLeft]="fixedColumn"
        [nzWidth]="itemWidth(item.width)"
      >
        {{ item.label }}
      </th>
      <th *ngIf="viewBtn || editBtn || deleteBtn" [nzWidth]="'100px'">操作</th>
      <!-- <th>Age</th>
      <th>Address</th>
      <th [nzRight]="fixedColumn">Action</th> -->
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of dynamicTable.data">
      <tr>
        <td
          [nzLeft]="fixedColumn"
          *ngIf="expandable"
          [nzExpand]="expandSet.has(data.id)"
          (nzExpandChange)="onExpandChange(data.id, $event)"
        ></td>
        <td
          [nzLeft]="fixedColumn"
          *ngIf="checkbox"
          [nzChecked]="setOfCheckedId.has(data.id)"
          (nzCheckedChange)="onItemChecked(data.id, $event)"
        ></td>
        <td nzEllipsis *ngFor="let header of headers; index as i">
          {{ data[header.key] }}
        </td>
        <td *ngIf="viewBtn || editBtn || deleteBtn" class="table-operate">
          <a *ngIf="viewBtn">
            <span
              nz-icon
              nzType="eye"
              nzTheme="outline"
              (click)="seeRow(data)"
            ></span>
          </a>
          <a *ngIf="editBtn">
            <span
              nz-icon
              nzType="edit"
              nzTheme="outline"
              (click)="editRow(data)"
            ></span>
          </a>
          <a *ngIf="deleteBtn">
            <span
              nz-icon
              nzType="delete"
              nzTheme="outline"
              (click)="deleteRow(data)"
            ></span>
          </a>
        </td>
      </tr>
      <tr *ngIf="expandable" [nzExpand]="expandSet.has(data.id)">
        <span> {{ data.description }}</span>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
