.index-progress {
  flex: 1;
  height: 10px;
  .progress-up-health {
    position: relative;
    height: 100%;
  }
  .progress-up-health::after {
    content: "";
    width: 6px;
    display: block;
    height: 100%;
    background-color: white;
    position: absolute;
    right: -3px;
    border-right: none;
    border-bottom: none;
    transform: skewX(130deg);
  }
}
