@font-face {
  font-family: "REEJI-HonghuangLiGB-Medium-2";
  src: url("./origin/REEJI-HonghuangLiGB-Medium-2.ttf");
}
@font-face {
  font-family: "DS-DIGI-1";
  src: url("./origin/DS-DIGI-1.ttf");
}
@font-face {
  font-family: "DS-DIGIB-2";
  src: url("./origin/DS-DIGIB-2.ttf");
}
@font-face {
  font-family: "DS-DIGII-3";
  src: url("./origin/DS-DIGII-3.ttf");
}
@font-face {
  font-family: "DS-DIGIT-4";
  src: url("./origin/DS-DIGIT-4.ttf");
}
@font-face {
  font-family: "HanYiLingXinTiJian-1";
  src: url("./origin/HanYiLingXinTiJian-1.ttf");
}
