nz-select {
  width: 240px;
}
::ng-deep .cdk-overlay-container {
  z-index: 3000;
}

.dark-night-blue {
  width: 100%;
  background-image: linear-gradient(
    180deg,
    #063672 0%,
    #1c69c6 90%,
    #7392c0 100%
  );
  border: 1px solid #2477d6;
  /* background-color: rgba(35, 131, 222, 0.44); */
  opacity: 0.8;
  border-radius: 4px;
}
::ng-deep .dark-night-blue .ant-select-selector {
  border: 0px solid #d9d9d9;
}

::ng-deep .dark-night-blue .ant-select-dropdown {
  background-color: #bcdbff;
}
::ng-deep .dark-night-blue .ant-select-selector {
  border: none !important;
  background-color: rgb(17 23 74 / 27%) !important;
}
::ng-deep .dark-night-blue .ant-select-item-option {
  color: #3c74b5;
  background-color: #bcdbff;
}
::ng-deep .dark-night-blue .ant-select-item-option-active {
  color: white !important;
  background-color: #3c74b5;
}
::ng-deep .dark-night-blue .ant-select-selection-item {
  color: #9bc6ff !important;
}
::ng-deep .dark-night-blue .ant-select-arrow {
  color: #9bc6ff;
}
::ng-deep .dark-night-blue .ant-select-clear {
  background-color: #3c74b5;
  color: #9bc6ff;
}
