<span
  style="position: relative"
  [ngStyle]="{
    color: color,
    'font-size': fontSize,
    'font-weight': fontWeight,
    'font-family': fontFamily,
    left: left,
    top: top,
    right: right,
    bottom: bottom
  }"
  >{{ value }}</span
>
{{ splitter }}
<span
  style="position: relative"
  [ngStyle]="{
    color: color2,
    'font-size': fontSize2,
    'font-weight': fontWeight2,
    'font-family': fontFamily2,
    left: left2,
    top: top2,
    right: right2,
    bottom: bottom2
  }"
  >{{ value2 }}</span
>
